.events {
  margin-top: 100px;
  background: url("../../assets/events.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  .events_title {
    padding-top: 150px;
    color: #fff;
    font-size: 3rem;
  }
  .events_section {
    margin-left: -70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;

    .events_section_container {
      background: url("../../assets/harun.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 350px;
      height: 300px;
      margin-top: 150px;
      margin-left: 50px;
      border-radius: 2px;


      .events_section_container_event {
        margin-left: 10px;
        margin-top: -20px;
        height: 500px;
        width: 320px;
        border: 1px solid #e1b265;
        border-radius: 2px;

        .events_section_container_event_title {
          margin-top: 335px;
          padding-left: 10px;
          padding-right: 10px;
          color: #fff;
          font-weight: 400;
          font-size: 1.3rem;
        }

        .events_section_container_event_descriptio {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }
}
