
.aboutUs {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 1rem;

  .aboutUs_description {
    color: #ffffff;
    width: 450px;
    text-align: right;

    .title {
      margin-top: -10px;
      font-size: 2.2rem;
    }

    .description {
      margin-top: 60px;
      font-size: 1.2rem;
    }
  }

  .aboutUs_line {
    margin-left: 25px;
    margin-right: 25px;
  }

  .aboutUs_logo {
    margin-top: 100px;
    width: 450px;
    height: 450px;

    .aboutUs_logo-img {
      width: auto;
      height: 100%;
    }
  }
}


@media (max-width: 990px) {
  .aboutUs {
    font-size: 14px;

    .title{
      font-size: 2rem;
    }
  }
}
