
.aboutUs {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 1rem;
  height: 750px;

  .aboutUs_description {
    color: #ffffff;
    width: 450px;
    text-align: right;

    .aboutUs_description_title {
      margin-top: -10px;
      font-size: 2.2rem;
    }

    .aboutUs_description_description {
      color: #606060;
      z-index: 1;
      margin-top: 60px;
      font-size: 1.2rem;
    }
  }

  .aboutUs_line {
    margin-left: 25px;
    margin-right: 25px;

    .aboutUs_line_circle {
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    .aboutUs_line_hr {
      margin-left: 11px;
      width: 2px;
      height: 100%;
      background-color: #ffffff;
    }
  }

  .aboutUs_logo {
    margin-top: 100px;
    width: 450px;
    height: 450px;

    .aboutUs_logo_img {
      width: auto;
      height: 100%;
    }
  }
}

@media (max-width: 990px) {
  .aboutUs {
    font-size: 14px;

    .title {
      font-size: 2rem;
    }
  }
}
