
.members {
  margin-top: -8px;
  display: flex;
  justify-content: center;
  font-size: 1rem;

  .members_description {
    width: 450px;
    color: #ffffff;
    text-align: left;

    .title {
      margin-top: -10px;
      font-size: 2.2rem;
      margin-bottom: 25px;
    }

    .members_list--ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      list-style-type: none;
      padding: 0;
      margin: 30px 0 60px 0;

      .list {
        display: flex;
        justify-content: center;
        border: 1px solid #d1b26f;
        margin-right: 5px;
        margin-top: 5px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        align-items: center;

        &:hover {
          background-color: #d1b26f;
        }

        .list--img {
          width: 45px;
          height: 45px;
        }
      }
    }
    .name_person {
      display: flex;
      justify-content: center;

      .hr {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        width: 55px;
        height: 1px;
        background: #d1b26f;

      }
      .description--name {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;

      }
    }
    .description {
      font-size: 1.2rem;
    }
  }

  .members_line {
    margin-left: 25px;
    margin-right: 25px;
  }

  .members_image {
    width: 450px;
    margin-top: 200px;
    display: flex;
    justify-content: flex-end;

    .members_image--content {
      height: 400px;
      width: 300px;
      border-radius: 2px;
      border: 1px solid #d0a45c;

      .img {
        border-radius: 2px;
        padding: 5px;
        width: 97%;
        height: auto;
      }
      .content_hr {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .hr {
          width: 100px;
          height: 1px;
          background: #d1b26f;
        }
      }

      .name {
        margin-top: 5px;
        color: #ffffff;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;

      }
    }
  }
}

@media (max-width: 990px) {
  .members {
    font-size: 16px;
    .members_description {

      .title {
        font-size: 2.9rem;
      }
    }
    .members_line {
      margin-top: 3px;
    }
  }
}
