@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: #161616;
}

.app {

  .header {
    color: white;
    background: url("~@/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    .header_navbar {
      padding-top: 5px;
      padding-bottom: 5px;
      overflow: hidden;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 60px;
      background-color: rgba(204, 204, 204, 0.16);

      .header_navbar--logo {
        height: 100%;
        width: auto;
      }

      .header_navbar--links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;

        .link {
          text-decoration: none;
          padding-left: 30px;
          color: white;

          .link--href {
            text-decoration: none;
            color: #ffffff;
            transition: .35s;

            &:hover {
              filter: grayscale(0);
              color: #e1b265;
            }
          }
        }
      }
    }

    .header_title {
      height: 100%;

      .header_title--name {
        font-size: 14rem;
        text-shadow: 3px 3px #181818;
        line-height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        padding-top: 15%;

      }

      .header_title--line {
        width: 50%;
      }

      .header_title--slogan {
        text-shadow: 2px 2px #181818;
        margin: 0;
        display: flex;
        justify-content: center;
        font-size: 3.3rem;
      }
    }
  }
}

.main {
  .main_c {
    display: flex;
    justify-content: center;
    padding-top: 120px;

    .main_content {

      .main_title {
        color: #ffffff;
        display: flex;
        justify-content: center;
        font-size: 4rem;
      }
    }
  }
}
