@import url('http://fonts.googleapis.com/css?family=Sarala&subset=latin,latin-ext');

body {
  font-family: 'Sarala', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: #31353e;
}

.app {

  .header {
    color: white;
    background: url("~@/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 850px;

    .header_navbar {
      padding-top: 5px;
      padding-bottom: 5px;
      overflow: hidden;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-around;
      height: 70px;
      background-color: rgba(0, 0, 0, 0.7);

      .header_navbar--logo {
        height: 100%;
        width: auto;
      }

      .header_navbar--links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;

        .link {
          text-decoration: none;
          padding-left: 30px;
          color: white;

          .link--href {
            text-decoration: none;
            color: #ffffff;
            transition: .35s;

            &:hover {
              filter: grayscale(0);
              color: #feb047;
            }
          }
        }
      }
    }

    .header_title {
      height: 100%;

      .header_title--name {
        font-size: 15.1rem;
        text-shadow: 4px 4px #000;
        line-height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        padding-top: 15%;

      }

      .header_title--line {
        width: 50%;
      }

      .header_title--slogan {
        text-shadow: 2px 2px #000;
        margin: 0;
        display: flex;
        justify-content: center;
        font-size: 3.6rem;
      }
    }
  }

}
